@page "/"

<PageTitle>Home</PageTitle>

<div class="row">
	<div class="col-12">
		<h1>EasyAuth - KeyAuth like authorization provider.</h1>
		<hr>
		<h3>Version: 0.3</h3>
		<h3>Created by Expl01t</h3>
	</div>
</div>